

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared-styles */
.btn-primary{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #C6E4D6;
    width: 1100px;
    height: 560px;
    margin: 120px auto;
    padding:  80px 100px 80px 100px;
    border-radius: 24px;
    gap: 64px;
}
.banner-content{
    width: 622px;
    height: 326px;
}
.banner-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.banner-button{
    padding: 17px 34px;
    margin-bottom: 117px;
}
.banner-img{
    margin-top: 90px;
}
.banner-button:hover{
    color: rgb(79, 206, 79);
}
/* main-styles */
main{
    width: 1280px;
    margin: 0 auto;
}