

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared-styles */
.btn-primary{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}
.btn-hover:hover{
    background-color:blue
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #C6E4D6;
    width: 1100px;
    height: 560px;
    margin: 120px auto;
    padding:  80px 100px 80px 100px;
    border-radius: 24px;
    gap: 64px;
}
.banner-content{
    width: 622px;
    height: 326px;
}
.banner-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.banner-button{
    padding: 17px 34px;
    margin-bottom: 117px;
}
.banner-img{
    margin-top: 90px;
}
.banner-button:hover{
    color: rgb(79, 206, 79);
}
/* main-styles */
main section{
    width: 1280px;
    margin: 0 auto;
}
/* vision-styles */
.vision-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 24px;
}
.backgroud-cotation{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    padding:48px 24px 48px 24px; ;
}
.advisor-cotation{
    
    width: 1280px;
    height: 150px;
    background-color: #e5b3b3;
    border-radius: 16px;
    padding: 48px 24px 48px 24px;
}
.adviser-statement{
    /* width: 100%; */
    font-size: 16px;
    color: #0E0E0E;
}
.adviser-name{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}

.vision{
    width: 410px;
    height: 300px;
    border-radius: 16px;
    padding: 32px 32px 32px 32px;
    

}
.vision-Digital-Transformation{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-Green-Energy{
    background-color: #C6E4D6;
}
.vision-Modern-Infrastructure{
   background-color: #F7EBCF;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.vision-title{
    font-size: 20px;
    font-weight: bold;
}
.vision-button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #006A50;
}
/* .vision-button-Digital-Transformation:hover{
    color: aqua;
    background-color: #0456e4;
} */
.vision-button-color-1{
    background-color: #5490F5;
}
.vision-button-color-2{
    background-color: #09A15C;
}
.vision-button-color-3{
    background-color: #FFC239;
}


/* recent-news-styles */

.Alzajeera-news-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-radius: 24px;
    padding: 48px 48px;
    box-shadow: 0px 6px 50px 0px rgb(173, 165, 165);
    margin-bottom: 24px;

background: rgb(255, 255, 255);
}
.news-img{
    width: 408px;
    height: 306px;
    
    border-radius: 24px
}
.channel-button{
    padding: 13px 26px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.news-content{
    width: 740px;
    height: 290px;
    margin-bottom: 80px;
}

/* donate-today-styles */
.donate-amount{
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    
}
.donate-in-bdt{
    width: 243px;
    height: 128px;
    border-radius: 16px;
    padding: 20px 20px;
    box-shadow: 0px 6px 50px 0px rgb(173, 165, 165);
    text-align: center;

}
/* .amount-in{
    width: 1032px;
    height: 64px;
} */
 input[type="text"]{
    width: 1032px;
    padding: 20px 100px;
    text-align: center;
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 50px;
    border: none;
    box-shadow: 0px 6px 50px 0px rgb(173, 165, 165);
 }
 .dbutton{
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;

 }
 .donate{
    margin-bottom: 80px;
 }

 /* footer */
 footer section{
    width: 1280px;
    margin: 0 auto;
    padding: 80px 100px;
    height: 380px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 80px;

 }
 .subscribe-info{
    display: flex;
    align-items: center;
    text-align: center;
    
 }
 .subcribe-button{
    padding: 17px 34px;
    /* border-radius: 8px; */
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
 }
 input[type="email"]{
    width: 1000px;
    padding: 16px ;
    /* text-align: center; */
    font-size: 20px;
    color: #0E0E0E;
    /* margin-bottom: 50px; */
    border: none;
    box-shadow: 0px 6px 50px 0px rgb(173, 165, 165);
 }
 .subscribe{
    margin-bottom: 50px;
 }